{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<h1>Change Password</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% include 'profile/_change_password_form.html.twig' with {'form': changePasswordForm} %}
{% endblock %}
