<form method="post" action="{{ path('app_deceased_delete', {'id': deceased.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deceased.id) }}">
    <button class="btn">Delete</button>
</form>
