{% extends 'base.html.twig' %}

{% block title %}New BurialRecord{% endblock %}

{% block body %}
    <h1>Create new BurialRecord</h1>

    {{ include('burial_record/_form.html.twig') }}

    <a href="{{ path('app_burial_record_index') }}">back to list</a>
{% endblock %}
